<div id="overview" class="tab active">
	<div class="row">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<p>Tony Stark, dünyayı korumak için Ultron Programı'nı yaratır, ancak barışı koruma programı düşmanca bir hal aldığında, Yenilmezler neredeyse imkansız bir düşmanı birlikte yenmek için harekete geçerler. Dünyanın en güçlü kahramanları, dünyayı küresel yok oluştan korumak için bir kez daha bir araya gelmelidir.</p>
			<div class="title-hd-sm">
				<h4>Videolar & Fotoğraflar</h4>
				<a href="#" class="time">5 Video & 245 Fotoğraf <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="mvsingle-item ov-item">
				<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image11.jpg"><img src="/Film-Review-Movie-Database/images/uploads/image1.jpg" alt=""></a>
				<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image21.jpg"><img src="/Film-Review-Movie-Database/images/uploads/image2.jpg" alt=""></a>
				<a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image31.jpg"><img src="/Film-Review-Movie-Database/images/uploads/image3.jpg" alt=""></a>
				<div class="vd-it">
					<img class="vd-img" src="/Film-Review-Movie-Database/images/uploads/image4.jpg" alt="">
					<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Film-Review-Movie-Database/images/uploads/play-vd.png" alt=""></a>
				</div>
			</div>
			<div class="title-hd-sm">
				<h4>Oyuncular</h4>
				<a href="#" class="time">Tüm Oyuncular  <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="mvcast-item">
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast1.jpg" alt="">
						<a href="#">Robert Downey Jr.</a>
					</div>
					<p>...  Robert Downey Jr.</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast2.jpg" alt="">
						<a href="#">Chris Hemsworth</a>
					</div>
					<p>...  Thor</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast3.jpg" alt="">
						<a href="#">Mark Ruffalo</a>
					</div>
					<p>...  Bruce Banner/ Hulk</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast4.jpg" alt="">
						<a href="#">Chris Evans</a>
					</div>
					<p>...  Steve Rogers/ Captain America</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast5.jpg" alt="">
						<a href="#">Scarlett Johansson</a>
					</div>
					<p>...  Natasha Romanoff/ Black Widow</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast6.jpg" alt="">
						<a href="#">Jeremy Renner</a>
					</div>
					<p>...  Clint Barton/ Hawkeye</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast7.jpg" alt="">
						<a href="#">James Spader</a>
					</div>
					<p>...  Ultron</p>
				</div>
				<div class="cast-it">
					<div class="cast-left">
						<img src="/Film-Review-Movie-Database/images/uploads/cast9.jpg" alt="">
						<a href="#">Don Cheadle</a>
					</div>
					<p>...  James Rhodes/ War Machine</p>
				</div>
			</div>
			<div class="title-hd-sm">
				<h4>Kullanıcı Değerlendirmeleri</h4>
				<a href="#" class="time">56 Değerlendirmenin Tümünü Gör <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="mv-user-review-item">
				<h3>Bana göre en iyi Marvel filmi</h3>
				<div class="no-star">
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star"></i>
					<i class="ion-android-star last"></i>
				</div>
				<p class="time">
					17 Aralık 2024 <a href="#"> marvelforever3</a>
				</p>
				<p>Bu, MCU'daki en sevdiğim filmlerden biri. Hem iyi hem de kötü yeni Karakterlerin tanıtımı da filmi daha heyecanlı hale getiriyor. Karakterlere daha fazla arka plan hikayesi vermek, izleyicilerin farklı karakterlerle daha iyi ilişki kurmasına yardımcı olabilir ve izleyici ile aktörler veya karakterler arasında bir bağ kurar. Filmi üç kez izlemiş olmam beni burada rahatsız etmiyor çünkü her izlediğimde aynı heyecan ve coşkuyu yaşıyor. Başka bir deyişle, film önceki filmlerden çok daha iyi (ve Marvel'ın her şeyini seviyorum), olay örgüsü muhteşem (her filmde gerçekten kendilerini aşıyorlar, birden fazla izlemekte sorun yok.</p>
			</div>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-12">
			<div class="sb-it">
				<h6>Yönetmen: </h6>
				<p><a href="#">Joss Whedon</a></p>
			</div>
			<div class="sb-it">
				<h6>Senarist: </h6>
				<p><a href="#">Joss Whedon,</a> <a href="#">Stan Lee</a></p>
			</div>
			<div class="sb-it">
				<h6>Oyuncular: </h6>
				<p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
			</div>
			<div class="sb-it">
				<h6>Türler:</h6>
				<p><a href="#">Aksiyon, </a> <a href="#"> Bilim Kurgu,</a> <a href="#">Macera</a></p>
			</div>
			<div class="sb-it">
				<h6>Vizyon Tarihi:</h6>
				<p>1 Mayıs 2015</p>
			</div>
			<div class="sb-it">
				<h6>Süre:</h6>
				<p>141 dk</p>
			</div>
			<div class="sb-it">
				<h6>MMPA Rating:</h6>
				<p>PG-13</p>
			</div>
			<div class="sb-it">
				<h6>Anahtar Kelimeler:</h6>
				<p class="tags">
					<span class="time"><a href="#">süper kahraman</a></span>
					<span class="time"><a href="#">marvel evreni</a></span>
					<span class="time"><a href="#">çizgi roman</a></span>
					<span class="time"><a href="#">blockbuster</a></span>
					<span class="time"><a href="#">son savaş</a></span>
				</p>
			</div>
			<div class="ads">
				<img src="/Film-Review-Movie-Database/images/uploads/ads1.png" alt="">
			</div>
		</div>
	</div>
</div>