<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index-2.html"><img class="logo" src="/Film-Review-Movie-Database/images/logo1.png" alt=""></a>
				<p>
					Atatürk Caddesi NO:436<br>
					Çankaya, Ankara
				</p>
				<p>Bize ulaşın: <a href="#">(0312) 741 24 13</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Kaynaklar</h4>
				<ul>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Bize Ulaşın</a></li>
					<li><a href="#">Forum</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Yardım Merkezi</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Yasal</h4>
				<ul>
					<li><a href="#">Kullanım Şartları</a></li>
					<li><a href="#">Gizlilik Politikası</a></li>
					<li><a href="#">Güvenlik</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Hesap</h4>
				<ul>
					<li><a href="#">Hesabım</a></li>
					<li><a href="#">İzleme Listem</a></li>
					<li><a href="#">Koleksiyonlar</a></li>
					<li><a href="#">Kullanıcı Rehberi</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Haber Bülteni</h4>
				<p>Güncel haberlerimizi almak için <br> hemen bülten sistemimize abone olun.</p>
				<form action="#">
					<input type="text" placeholder="E-Posta adresinizi girin...">
				</form>
				<a href="#" class="btn">Hemen abone ol <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Başa dön  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>